<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rad_IOS_MapTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Rad_OSX_Map_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16002B14182843D400452358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16002B2E182843D400452358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F56CA18280F7400B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F56E918280F7500B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F570018283DC100B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F571A18283DC100B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F573118283FD600B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F574B18283FD700B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F5764182840AE00B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>160F577E182840AF00B31F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D6C56818206A020051DCD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D6C58918206A020051DCD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
